/*--------------------------------------------------------------
# body
--------------------------------------------------------------*/


body {
    font-family: 'Fasthand', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    line-height: normal;
    color: white;
    background: #000;
    box-sizing: border-box;
    top: 0;
    left: 0;
  }
  
  
  /*--------------------------------------------------------------
  # back-to-top
  --------------------------------------------------------------*/
  
  .back-to-top {
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 999;
  }
  
  @media (min-width: 768px) {
    .back-to-top {
      position: fixed;
      right: 5%;
      bottom: 5%;
      z-index: 999;
    }
  
  }
  
  /*--------------------------------------------------------------
  # General
  --------------------------------------------------------------*/
  
  p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
  }
  
  .Section-heading-text h1 {
    color: #F4F5F5;
    font-size: 25px;
    font-weight: 700;
  }
  
  @media (min-width: 768px) {
  
    .Section-heading-text h1 {
      color: #F4F5F5;
      font-size: 48px;
      font-weight: 700;
    }
  
  }
  

  
  /*--------------------------------------------------------------
  # Featured products-section
  --------------------------------------------------------------*/
  .Featured-products {
    padding: 50px 0;
    position: relative;
    color: white;
    background: url(/assets/img/SVG/Ellipse\ feature\ background.png);
    background-position: center center;
    object-fit: cover;
    overflow: hidden;
  }
  
  
  .Connection-btn a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 5px;
  }
  
  .Connection-btn a:hover {
    border-bottom: 2px solid white;
  }
  
  
  .Featured-products-content {
    margin-top: 50px;
    position: relative;
  }
  
  .Featured-products .images {
    position: relative;
  }
  
  .Featured-btn {
    background: white;
    padding: 10px;
  }
  
  .Featured-btn a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 5px;
    padding-left: 20px;

  }
  
  
  .Featured-btn a:hover {
    border-bottom: 2px solid black;
  }
  
  
  .overlay-image-under {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    background-color: #00000071;
    z-index: 1;
    visibility: hidden;
  }
  
  
  .images {
    position: relative;
  }
  
  
  .Featured-products-img-under img {
    height: 230px;
    width: 250px;
    object-fit: cover;
    z-index: -1;
    visibility: hidden;
  }
  
  .Featured-products-img-over img {
    height: 200px;
    width: auto;
    object-fit: contain;
  
  }
  
  
  .Featured-products-img-over {
    position: absolute;
    top: 10%;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
  
  
  .paragraph-one {
    margin-top: 10%;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
  }
  
  .paragraph-two {
    margin-top: 20%;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
  }
  
  .heading-featured {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
  }
  
  .Featured-DescriptionA {
    padding: 10px;
    border-right: 1px solid white;
  }
  
  .Featured-DescriptionB {
    padding: 10px;
    border-left: 1px solid white;
  }
  
  @media (min-width: 768px) {
  
  
    .Featured-products-content {
      margin-top: 150px;
    }
  
    .overlay-image-under {
      visibility: visible;
    }
  
    .Featured-products-img-under img {
      height: 500px;
      width: 490px;
      visibility: visible;
    }
  
  
    .Featured-products-img-over img {
      height: 300px;
      width: 400px;
      object-fit: fill;
    }
  
    .Featured-products-img-over {
      top: 20%;
      left: 10%;
    }
  
    .Featured-DescriptionA {
      padding: 50px;
    }
  
    .Featured-DescriptionB {
      padding: 50px;
    }
  }
  
 
  
  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  
  .footer {
    padding: 30px 20px;
    position: relative;
    overflow: hidden;
  }
  
  .footer-text {
    height: 100vh;
  }
  
  .footer-text h1 {
    color: #F4F5F5;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
  }
  
  
  .footer-text .description {
    margin-top: 100px;
  }
  
  .footer-media a {
    text-decoration: none;
    color: #ffffff1e;
    font-size: 100px;
    transition: all 1s ease;
  }
  
  .footer-media a:hover {
    color: #F4F5F5;
  }
  
  .footer-media .media-sideA {
    position: absolute;
    top: 65%;
    left: 5%;
  }
  
  .footer-media .media-sideB {
    position: absolute;
    top: 85%;
    right: 5%;
  }
  
  
  
  @media (min-width: 768px) {
    .footer {
      padding: 100px;
    }
  
    .footer-text h1 {
      font-size: 128px;
      font-weight: 700;
    }
  
    .footer-media .media-sideA {
      position: absolute;
      top: 40%;
      left: 5%;
    }
  
    .footer-media .media-sideB {
      position: absolute;
      top: 40%;
      right: 5%;
    }
  
  }